
@font-face {
    font-family: 'Gotham';
    src: url("/assets/typeface/GothamBook.ttf")
}
@font-face {
    font-family: 'Gotham';
    src: url("/assets/typeface/GothamLight.ttf")
}
@font-face {
    font-family: 'Gotham';
    src: url("/assets/typeface/GothamBold.ttf")
}
@font-face {
    font-family: 'Gotham';
    src: url("/assets/typeface/Gotham-Bold.otf")
}
@font-face {
    font-family: 'Gotham';
    src: url("/assets/typeface/Gotham-Light.otf")
}    

body {
    background-color: #F3EBD6!important;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
p {
    font-family: 'Gotham';
    font-weight: 200;
}
h3 {
    font-family: 'Gotham';
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: #A31D35;
    margin-bottom: 0;
}
.header {
    background-color: white;
    position: absolute;
    width: 100%;
}

.header h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
}
.header a {
    text-decoration: none;
    color: #A31D35;
}

.content {
    width: 80%;
    margin: 0 10%;
}

.banner img {
    width: 100%;
    height: auto;
    margin-top: 10%;
}

#titlensocials {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin: 1rem 0;
}

#titlensocials h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

#titlensocials i {
    margin-left: 1rem;
    font-size: 1.2rem;
    color: #000000;
}

#fb:hover {
    color: #4267B2;   
}

#t:hover {
    color: #1DA1F2;
}
#ig:hover {
    color: #405DE6;
}
#yt:hover {
    color: #FF0000;
}
#rss:hover {
    color: #FFA500;
}
#em:hover {
    color: #4F7942;
}


#title {
    font-family: 'Gotham';
    font-weight: 500;
}
#hamburger,
#hamburger-overlay,
#xmark {
    display: none;
}

.navbar {
    height: 3.5rem;
    display: flex;
/*    align-items: center;*/
    width: 100%;
    font-family: 'gotham';
    margin: 0;
}
nav a {
    text-decoration: none;
    color: #000000;
    height: 100%;
    margin:0;
    padding: 0;
    width: 25%;
    display: block;
}
.dropdown li {
    line-height: 1rem;
    margin-top: 20px;
}
button {
    background-color: #ffffff;
    border: none;
    text-transform: uppercase;
    font-family: 'gotham';
    font-size: 1rem!important;
    line-height: 1.2rem;
    padding: 1rem;
    transition-duration: 300ms;
    height: 100%;
    width: 100%!important;
}
.dropdown {
    position: relative;
    width: 25%;
    height: 100%;
}
.dropdown button {
    width: 100%;
}
.dropdown ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #FEFAE0;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    line-height: 2.5rem;
    opacity: 0;
    z-index: 1;
}
.dropdown li {
    list-style: none;
    padding: 0 .5rem;
}
.dropdown li:hover, .dropdown a:hover {
    font-weight: 700;
    cursor: pointer;
}
.dropdown a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    width: 100%;

}
.dropdown button:focus + ul, .dropdown button:hover + ul {
    opacity: 1;
    pointer-events: all;
/*    transform: translateY(0px);*/
}
button:hover,
button.active {
    background-color: #F2D992;
    cursor: pointer;
}

.intro, .editorial {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #ffffff;
    font-family: 'Gotham';
}

.pres {
    display: flex;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #ffffff;
    font-family: 'Gotham';
}
.title,
.p-title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #A31D35;
}
.text {
    line-height: 1.8rem;
    font-weight: 400;
}


footer {
    width: 100%;
    height: 25rem;
    background-color: #ffffff;
    position: relative;
    margin-top: 2rem;
}
#footer-cont {
    width: 40%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: .8rem;
    line-height: 1rem;
}
footer p {
    text-align: center;
}


.img {
    width: 40%;
}
.img img {
    width: 100%;
}
.textbox {
    width: 55%;
    margin-left: 5%;
    line-height: 1.8rem;
}
#dt-disclaimer {
    margin-top: 20px;
}
.p-title {
    font-family: 'Gotham';
    font-weight: 200;
    font-size: 2rem;
    padding-top: 10%;
    line-height: 1.8rem;
}
.p-title1 {
    font-family: 'Gotham';
    font-weight: 200;
    font-size: 2rem;
    padding-top: 10%;
    line-height: 1.8rem;
}

#hovergrid {
    width: 100% - 4rem;
    height: 80%;
    padding: 2rem;
    background-color: #ffffff;
    margin-top: 2rem;
}
#hover1 {
    display: flex;
    flex-direction: column;
}
.row, .row2 {
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
}
.row a, .row2 a {
    width: 31%;
    height: 250px;
    margin-right: 2rem;
    position: relative;
}
.row a:last-of-type, .row2 a:last-of-type {
    margin: 0;
}
.box {
    height: 100%;
    width: 100%;
}
.box img {
    height: 100%;
    width: auto;
    object-fit: cover;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.box:hover .overlay {
    opacity: 0.6;
    transition: .5 ease;
}
.overlay img {
    width: auto;
    height: 100%;
    object-fit: cover;
}
.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shighlight {
    margin-top: 2rem;
}
.highlightxt {
    line-height: 1rem;
    font-size: 1rem;
}
.highimgcont {
    height: 280px;
}
.highimgcont img {
    height: 100%;
    width: auto;
    object-fit: cover;
}
.box2 {
    padding: 2rem;
    width: 3940%;
    margin-right: 2rem;
    background-color: #ffffff;
}
.box2:last-of-type {
    margin-right: 0;
}
.box2 img {
    width: 100%;
}
footer {
    width: 100%;
    height: 25rem;
    background-color: #ffffff;
    position: relative;
    margin-top: 2rem;
}
#footer-cont {
    width: 40%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: .8rem;
    line-height: 1rem;
}
footer p {
    text-align: center;
}

/*EDITORIAL*/
.editorial {
    height: auto;
    line-height: 1.8rem;
    font-weight: 400;
    margin-top: 0!important;
}
.editorial h2 {
    font-family: 'gotham';
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 0px;
}
#editorial-pic {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: -5px;;
}
#editorial-pic img {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden!important;
        width: 100%;
    }
    .content {
        width: 100%;
        margin: 0;
    }
    .banner {
        padding-top: 4rem!important;
        margin: 0;
    }
    #titlensocials #topsocialicons {
        display: none;
    }
    #titlensocials #title {
        line-height: 2.3rem;
        width: 90%;
        margin: 0 5%;
    }
    #hamburger,
    #xmark {
        display: block;
        position: fixed;
        padding: 0.75rem 1rem 1rem 1rem;
        border-radius: 100%;
        width: 1.25rem;
        height: 1.25rem;
        left: .75rem;
        top: .75rem;
        background: #FFFFFF;
    }
    #hamburger {
        box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    }
    #hamburger:hover {
        cursor: pointer;
    }
    #hamburger-overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        position: fixed;
        background-color: black;
        opacity: 0.5;
    }
    #xmark {
        display: none;
    }
    #xmark img {
        margin-top: -0.25rem;
    }
    nav {
        display: none;
        position: fixed;
        top: 5rem;
        text-align: center;
        height: 100%;
        width: 100%;
        background-color: white;
    }
    .show,
    #hamburger-overlay.show,
    #xmark.show {
        display: block;
    }
    .navbar {
        display: block;
    }
    .navbar a,
    .dropdown {
        width: 100%;
        line-height: 2rem;
    }
    .dropdown ul {
        height: 9rem;
    }
    .header, #editorial-pic, .editorial {
        width: 100%!important;
        margin: 0;
    }
    #editorial-pic img {
        width: 100%!important;
    }
    .banner {
        width: 100%;
        margin: auto auto 5% auto;
    }

    .pres {
        display: block;
        padding: 0 0 2rem 0;
        margin: 0;
    }
    .pres .img,
    .pres .textbox {
        width: 100%;
    }
    .p-title,
    .textbox {
        margin: auto 5%;
    }
    .textbox p {
        width: 90%;
    }

    .editorial {
        padding: 2rem 0;
    }
    .editorial > * {
        width: 90%;
        margin-left: 5%;
    }
    #hovergrid {
        padding: 0;
    }
    #hovergrid .row, #hovergrid .row2 {
        flex-direction: column;
        margin: 0;
    }
    #hovergrid #hover1 {
        flex-direction: row;
    }
    .row a, .row2 a {
        margin: 0;
        height: 180px;
        width: 100%;
    }
    .shighlight .row {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    .box2 {
        width: 100%;
        padding: 0;
    }
    .box2 img {
        height: 250px;
        width: auto
    }
    .highlightxt {
        width: 85%;
        padding: 2rem;
        height: auto;
    }
    .highlightxt p {
        font-size: 1rem;
        line-height: 1rem;
    }
    .highimgcont {
        height: 380px;
        width: 100%;
    }
    .highimgcont img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    footer {
        height: 30rem !important;
        background-color: transparent;
    }
    #footer-cont {
        width: 90%;
        padding: 2rem auto;
    }
}
